@model IEnumerable<NiceBytes.Veterinary.Models.PetsModel>
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Index";

}

<ul class="nav nav-tabs">
    <li role="presentation">
        <a href="#">Perfil</a>
    </li>

    <li role="presentation" class="active">
        <a href="#">Mascotas</a>
    </li>


</ul>

<div class="row" id="pets">
    <div class="col-sm-5 col-md-5 col-lg-5">
        <form class="navbar-form" role="search">
            <div class="input-group fill-parent">
                <input type="text" class="form-control" placeholder="Buscar..." name="srch-term" id="srch-term">
                <div class="input-group-btn pull-left">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 pull-right margin-right-20">
        <div class="navbar-form">
            <button data-bind="click: $root.add" class="btn btn-default">
                Agregar Nuevo
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
    <div id="gridPets">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Género</th>
                            <th>Ingreso</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: currentPets">
                        <tr data-bind="click: $parent.select">
                            <td data-bind="text:FirstName"></td>
                            <td data-bind="text:Gender"></td>
                            <td data-bind="text:DateEntry"></td>
                            <td>
                                <button data-bind="click: $root.edit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button data-bind="click: $root.delete" class="btn btn-default">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <table>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <span data-bind="click:previousPage,visible:currentPage() > 1" class="glyphicon glyphicon-circle-arrow-left" style="cursor:pointer;"></span>
                                <span data-bind="text:currentPage"></span>
                                <span data-bind="click:nextPage,visible:currentPage() < lastPage" class="glyphicon glyphicon-circle-arrow-right" style="cursor:pointer;"></span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    debugger;
    var clientSelected = null;

    function PetsViewModel() {
        var self = this;
        // properties
        debugger;
        self.pets = ko.observableArray(@Html.Raw(JsonConvert.SerializeObject(Model, new JsonSerializerSettings{ReferenceLoopHandling = ReferenceLoopHandling.Ignore})));
        self.clientId = @ViewBag.ClientId;
        self.pageSize = 4;
        self.lastPage = Math.ceil(self.pets().length / self.pageSize);
        self.currentPage = ko.observable(1);
        self.currentPets = ko.computed(function () {
            var startIndex = (self.currentPage() - 1) * self.pageSize;
            var endIndex = startIndex + self.pageSize;
            return self.pets().slice(startIndex, endIndex);
        });

        // methods
        self.nextPage = function () {
            self.currentPage(self.currentPage() + 1);
        };
        self.previousPage = function () {
            self.currentPage(self.currentPage() - 1);
        };

        self.select = function (item) {
            clientSelected = item.PetNumber;
        };

        self.selected = ko.observable(self.pets()[0]);

        self.add = function (item) {
            $.ajax({
                prop: 'href',
                url: '@Url.Action("Create", "Pets")',
                data: { id: self.clientId },
                type: 'GET',
                dataType: 'HTML',  // add this line
                success: function (result) {
                    $('#result').empty();
                    $('#result').html(result);
                }
            });
        }

        self.edit = function (item) {
            var petId = item.Id;
            $.ajax({
                prop: 'href',
                url: '@Url.Action("Edit", "Pets")',
                type: 'GET',
                data: { idClient: self.clientId, idPet: petId },
                dataType: 'HTML',  // add this line
                success: function (result) {
                    $('#result').empty();
                    $('#result').html(result);
                }
            });
        }

        self.delete = function (Pet) {
            if (confirm('¿Desea eliminar a la mascota "' + Pet.FirstName + '"?')) {
                $.ajax({
                    url: '@Url.Action("Delete", "Pets")',
                    cache: false,
                    type: 'POST',
                    data: { idClient: self.clientId, pet: Pet },
                    success: function (data) {
                        self.pets.remove(Pet);

                    }
                }).fail(
                function (xhr, textStatus, err) {
                });
            }
        }

    };
    ko.applyBindings(new PetsViewModel(), document.getElementById("pets"));


</script>
